/* You can add global styles to this file, and also import other style files */
* {
  --primary-color: #cfacf6;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--primary-color);
  padding: 10px;
}

ul, li {
  list-style-type: none;
}
